    .ios, .md {
 
        page-sidemenu {
     
          .scroll {
            height: 100%
          }
     
          #map {
            width: 100%;
            height: 100%;
          }
     
        }
     
    }

